@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-disabled::before {
  color: white !important;
  opacity: 1 !important;
}

.slick-next:before,
.slick-prev:before {
  opacity: 1;
}

.slick-track {
  display: flex;
  gap: 2rem;
  align-items: center;
}
